<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<body>
<form action="/login" method="post" th:object="${user}">

    <label for="uname">username</label>
    <input id="uname" th:field="*{username}">

    <label for="ps">password : </label>
    <input id="ps" th:field="*{password}" type="text">
    <input type="submit" value="Dang Nhap">

    <p th:text="${mess}"></p>

    <button onclick="mtest()">sdasd</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    function mtest() {
        let x = $("#uname").val()



    }
</script>

</body>
</html>